#detail {
	float: left;
	width: 70%;
}

#editor {
	width: 100%;
	height: 50em;
}

#detail input {
	font-size: 1.4em;
	padding: 0.25em;
	width: 100%;
	background-color: $heavy_metal;
	color: $spring_wood;
	outline: none;
	border: none;
	text-align: center;
}
