@import 'theme';
@import 'sidebar';
@import 'detail';

html, input {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', Arial;
}

body {
	background-color: $heavy_metal;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix {
	clear: both;
}
