html, input {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', Arial;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#sidebar {
	float: left;
	width: 30%;
}

#detail {
	float: left;
	width: 70%;
}

#editor {
	width: 100%;
	height: 50em;
}

.clearfix {
	clear: both;
}

/**
 * List styling
 */
.add-bookmarklet {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5em;
	padding: 1em 0;
}

.add-bookmarklet:hover {
	background-color: #ccc;
	transition: all 0.2s;
}

li a {
	display: inline-block;
	width: 100%;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	transition: all 0.2s;
}

li a:hover {
	background-color: #ccc;
}

/**
 * The details display
 */
#detail input {
	font-size: 1.4em;
	padding: 0.25em;
	width: 25em;
}
