html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#sidebar {
	float: left;
	width: 30%;
}

#detail {
	float: left;
	width: 70%;
}

#editor {
	width: 100%;
	height: 50em;
}

.clearfix {
	clear: both;
}
